.text-card {
  margin: 0 2%;
  max-width: 300px;
  cursor: pointer;
}

.text-card-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5%;
}

.text-card-content {
  font-size: 0.9rem;
  margin-bottom: 5%;
  color: grey;
  text-align: left;
}

.text-card-subtitle {
  text-align: left;
  margin-bottom: 5%;
}

@media only screen and (max-width: 950px) {
  .text-card {
    max-width: 100%;
  }
}
